{% extends 'base.html.twig' %}

{% block title %}Order Successful |
	{{ siteTitle() }}
{% endblock %}

{% block body %}
	<section class="container-fluid text-center bg-light page-heading">
		<h2 class="text-uppercase mb-3 mx-auto w-50">আপনার অর্ডারটি সফলভাবে সম্পন্ন হয়েছে, আমাদের কল সেন্টার থেকে ফোন করে আপনার অর্ডারটি কনফার্ম করা হবে।</h2>
		<span class="d-block mb-3 fs-3">আপনার অর্ডার আইডি
			<b>#{{orderId}}</b>
		</span><br>
		<a href="{{ path('app_home') }}" class="btn btn-primary">প্রোডাক্ট পেইজে যান >></a>
	</section>
{% endblock %}
