{% extends 'base.html.twig' %}

{% block title %}Order Successful |
	{{ siteTitle() }}
{% endblock %}

{% block body %}
	<section class="container-fluid text-center bg-light page-heading">
		<h2 class="text-uppercase mb-3">অর্ডার সফল হয়েছে</h2>
		<span class="d-block mb-3 fs-3">আপনার অর্ডার আইডি
			<b>#{{order.id}}</b>
		</span><br>
		<a href="{{ path('app_home') }}" class="btn btn-primary">প্রোডাক্ট পেইজে যান >></a>
	</section>
{% endblock %}
